NEXT_PUBLIC_BACKEND_URL=http://localhost:4000/api
NEXT_PUBLIC_BACKEND_STORAGE_URL=http://localhost:4000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_AI_STREAM_WS_URL=
NEXT_PUBLIC_FACE_WS_URL=ws://localhost:8001/ws_face
NEXT_PUBLIC_AI_WEBCAM_FPS=3

AUTH_BYPASS=false

